body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
}
a {
    text-decoration: none;
    color: black;
}
.button-red,
.button-green,
.button-yellow {
    text-align: center;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    text-transform: uppercase;
    padding: 20px 40px;    
}
.button-red {
    background-color: #fb565a;
}
.button-green {
    background-color: #00ca74;
}  
.button-yellow {
    background-color: #efc84a;
}
.button-red:hover {
    background-color: #e74246;
}  
.button-green:hover {
    background-color: #00bc6c;
}  
.button-yellow:hover {
    background-color: #eab534;
}
.button-red:active {
    background-color: #d7373b;
    color: rgba(255, 255, 255, 0.302);
}  
.button-green:active {
    background-color: #00aa62;
    color: rgba(255, 255, 255, 0.302);
}  
.button-yellow:active {
    background-color: #e5a722;
    color: rgba(255, 255, 255, 0.302);
}
.main-header {
    background-color: #eeeeee;
}
.main-header-logo {
    opacity: 1;
}
.main-header-logo img:hover {
opacity: 0.8;
}
.main-header-logo img:active {
    opacity: 0.3;
}
.main-navigation {
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase;
    color: #000000;
}
.site-navigation,
.basket-navigation,
.feature-list {
    list-style: none;
}
.site-navigation a:hover,
.basket-navigation a:hover {
    color: #fb565a;
}
.site-navigation a:active,
.basket-navigation a:active {
    color: #a6a6a6;
}
.basket-link {
margin-left: 26px;
}
.slogan h3 {
    font-size: 55px;
    line-height: 55px;
}
.feature-item {
    list-style: none;  
    text-align: left;
}
.feature-item img {
    display: block;
}
.feature-item h3 {
  font-size: 24px;
  line-height: 30px;  
  font-weight: 700;
  text-transform: uppercase;
}
.small-studio {
    text-align: left;
}
.small-studio h2 {
    font-size: 45px;
    line-height: 45px;  
    font-weight: 500;
}
.small-studio h3 {
    font-weight: 700;
    text-transform: uppercase;
}
.figures h2 {
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.figures-list {
    text-align: left;
    font-size: 16px;
  line-height: 18px;
}
.figures-list span {
    font-size: 45px;
  line-height: 10,06px;
  font-weight: 700;
}
.figures-item {
    list-style: none;  
}
.contacts h3 {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700; 
}
.nomber,
.contacts p {
    font-size: 16px;
    line-height: 18px;
}
.partners-item {
    list-style: none;
}

.partners-item a {
    opacity: 0.2;
    display: block;
}
.partners-item a:hover {
    opacity: 1;
}
.partners-item a:active {
    opacity: 0.1;
}
.maps {
background-color: rgb(181, 181, 181);
position: absolute;
}
.social-item {
    list-style: none;
}
.social-item a {
 
  background-color: #e0e0e0;
}
.social-item a:hover {
    background-color: #e74246;  
}
.social-item a:active {
    background-color: #d7373b;
}
.social-item img:active {
    background-color: #e37376;
}
.friends {
    text-align: left;
}
.friends h2 {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700; 
}
.friends p {
    font-size: 16px;
    line-height: 22px;
}
.social-item {
    color: #ffffff;
}
.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
}
.main-header {
   margin-bottom: 80px;
}
.main-navigation {
    display: flex;
    align-items: center;
}
.main-header-logo {
    width: 160px;
    height: 65px;
    margin-top: 49px;
}
.main-navigation .container {
    display: flex;
    justify-content: space-between;
}
.site-navigation {
    width: 440px;
    margin-top: 83px;
    padding: 0;
}
.basket-navigation {
width: 160px;
margin-top: 83px;
    padding: 0;
}
.slogan {
   width: 380px;
   margin-right: 50px;
}
.pictures-slogan {
    width: 698px;
    height: 413px;
    
}
.slogan-wrapper {
    display: flex;
    justify-content: space-between;
}
.features {
    margin-bottom: 160px;
}
.features-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}
.feature-item {
    width: 300px;
}
.studio-figures {
    display: flex;
    justify-content: space-between;
    margin-bottom: 125px;
    padding: 0;
}
.small-studio {
 width: 660px;
}
.figures {
  width: 360px;
}
.partners {
    margin-bottom: 199px;
}
.partners-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.partners-item {
    width: 260px;
}
.contacts {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.address {
    width: 319px;
    height: 308px;
}
.place {
    width: 231px;
    height: 190px;
    margin-right: 325px;
}
.main-footer .container {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-top: 69px;
}
.social {
    width: 260px;
    margin-right: 140px;
}
.friends {
    width: 560px;
}