body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
}
a {
    text-decoration: none;
    color: black;
}
img {
    max-width: 100%;
    height: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hiden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.button-red,
.button-green,
.button-yellow {
    text-align: center;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    text-transform: uppercase;
    padding: 20px 40px;    
}
.button-red {
    background-color: #fb565a;
}
.button-green {
    background-color: #00ca74;
}  
.button-yellow {
    background-color: #efc84a;
}
.button-red:hover {
    background-color: #e74246;
}  
.button-green:hover {
    background-color: #00bc6c;
}  
.button-yellow:hover {
    background-color: #eab534;
}
.button-red:active {
    background-color: #d7373b;
    color: rgba(255, 255, 255, 0.302);
}  
.button-green:active {
    background-color: #00aa62;
    color: rgba(255, 255, 255, 0.302);
}  
.button-yellow:active {
    background-color: #e5a722;
    color: rgba(255, 255, 255, 0.302);
}
.button-red .button-know {
    padding: 20px 55px;
    margin: 0;
}
.main-header {
    background-color: #eeeeee;
}
.main-header-logo {
    opacity: 1;
}
.main-header-logo img:hover {
opacity: 0.8;
}
.main-header-logo img:active {
    opacity: 0.3;
}
.main-navigation {
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase;
    color: #000000;
}
.site-navigation {
    display: flex;
    justify-content: space-between;
}
.site-navigation,
.basket-navigation,
.feature-list {
    list-style: none;
}
.site-navigation a:hover,
.basket-navigation a:hover {
    color: #fb565a;
}
.site-navigation a:active,
.basket-navigation a:active {
    color: #a6a6a6;
}
.basket-link {
margin-left: 26px;
}
.slogan h3 {
    margin: 0;
    margin-top: 85px;
    font-size: 55px;
    line-height: 55px;
}
.feature-item {
    list-style: none;  
    text-align: left;
}
.feature-item img {
    display: block;
}
.feature-item h3 {
    margin: 0;
  font-size: 24px;
  line-height: 30px;  
  font-weight: 700;
  text-transform: uppercase;
}
.small-studio {
    margin: 0;
    margin-top: 35px;
    width: 660px;
    text-align: left;
}
.small-studio h2 {
    font-size: 45px;
    line-height: 45px;  
    font-weight: 500;
    margin: 0;
    margin-bottom: 35px;
}
.small-studio h3 {
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 32px;
}
.studio-list {
    
    list-style: none;
    
}
.studio-item {
    position: relative;
    list-style: none;
    text-align: left;
    margin: 0;
    margin-bottom: 32px;
}
.studio-item:nth-child(3) {
    margin-bottom: 75px;
}
.studio-item::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    left: -36px;
    top: 11px;
    background-color: #fb565a;
}

.small-studio p {
    margin: 0;
    margin-bottom: 40px;
}
.figures {
    margin: 0;
    margin-bottom: 40px;
    width: 360px;
  }
.figures h2 {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    margin-bottom: 45px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.figures img {
    width: 360px;
    height: 208px;
    margin: 0;
    margin-bottom: 40px;
}
.figures-list {
    display: flex;
    justify-content: space-between;
    width: 360px;
    margin: 0;
    padding: 0;
     text-align: left;
    font-size: 16px;
  line-height: 18px;
}
.figures-item span {
    margin: 0;
    margin-bottom: 26px;
    font-size: 45px;
  line-height: 10,06px;
  font-weight: 700;
}
.figures-item {
    list-style: none; 

}
.figures-item p {
    font-size: 16px;
    line-height: 18px;
}
.maps {
    margin: 0;
    padding: 0;
      z-index: 0;
}
.contacts h3 {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700; 
}
.nomber,
.contacts p {
    font-size: 16px;
    line-height: 18px;
}
.contacts a {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}
.partners-item {
    list-style: none;
}

.partners-item a {
    opacity: 0.2;
    display: block;
}
.partners-item a:hover {
    opacity: 1;
}
.partners-item a:active {
    opacity: 0.1;
}
.maps {
background-color: rgb(181, 181, 181);
position: absolute;
left: 50%;
width: 100vw;
transform: translateX(-50%);
}
.social {
    width: 260px;
    margin-right: 140px;
}
.social-list {
    width: 260px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 70px;
    padding: 0;
}
.social-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e0e0e0;
    border-radius: 50%;
    color: #ffffff;
    margin-bottom: 10px;
    list-style: none;
}


.social-item:hover {
    background-color: #e74246;  
}
.social-item:active {
    background-color: #d7373b;
}
.social-item:active path {
    fill: #e37376;
}
.friends {
    text-align: left;
}
.friends h2 {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700; 
    margin: 0;
    margin-bottom: 10px;
}
.friends p {
    font-size: 16px;
    line-height: 22px;
}
.social-item {
    color: #ffffff;
}
.social a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
}
.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
}
.main-header {
   margin-bottom: 80px;
}
.main-navigation {
    display: flex;
    align-items: center;
}
.main-header-logo {
    width: 160px;
    height: 65px;
    margin: 0;
    margin-top: 49px;
}
.main-navigation .container {
    display: flex;
    justify-content: space-between;
}
.site-navigation {
    width: 440px;
    margin: 0;
    margin-top: 83px;
    padding: 0;
}
.basket-navigation {
width: 160px;
margin: 0;
margin-top: 83px;
    padding: 0;
}
.slogan {
   width: 380px;
   margin: 0;
  margin-top: 35px;
  margin-right: 50px;
}
.slogan p {
    margin: 0;
    margin-top: 28px;
    margin-bottom: 42px;
    
}


.pictures-slogan {
    width: 698px;
    height: 413px;
    margin: 0;
    margin-top: 35px;
    
}
.slogan-wrapper {
    display: flex;
    justify-content: space-between;
}
.features {
    margin: 0;
    margin-bottom: 40px;
    background-image: url("../img/divide\ copy\ 2.png");
    background-position: bottom;
    background-repeat: no-repeat;
}
.features-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    
    padding: 0;
    list-style: none;
}
.feature-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
}
.feature-item img {
    order: -1;
    margin: 0;
    margin-bottom: 26px;
}

.feature-item p {
    margin: 0;
    margin-top: 26px;
}
.feature-item .button-red {
    margin: 0;
    margin-top: 35px;
    margin-bottom: 80px;
}
.feature-item .button-green {
    margin: 0;
    margin-top: 35px;
    margin-bottom: 80px;
}
.feature-item .button-yellow {
    margin: 0;
    margin-top: 35px;
    margin-bottom: 80px;
}
.studio-figures {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 46px;
    padding: 0;
    background-image: url("../img/divide\ copy\ 2.png");
    background-position: bottom;
    background-repeat: no-repeat;
}
.partners {
    background-image: url("../img/divide\ copy\ 2.png");
    background-position: bottom;
    background-repeat: no-repeat;
    margin-bottom: 80px;
}
.partners-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.partners-item {
    width: 260px;
    margin: 0;
    padding: 0;
    margin-bottom: 44px;
}
.contacts {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.address {
    z-index: 2;
    width: 319px;
    height: 308px;
    background-color: white;
    margin: 0;
    margin-top: 54px;
}
.address h3 {
    margin: 0;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.address p {
    font-size: 16px;
    line-height: 18px;
    color: #666666;
    margin: 0;
    margin-bottom: 20px;
}
.nomber {
    font-size: 16px;
    line-height: 18px;
    color: #666666;
    margin: 0;
    margin-top: 20px;
}
.contacts .button-red{
    width: 100%;
    margin: 0;
    margin-top: 20px;
}
.contacts-margin {
        margin-top: 50px;
    margin-left: 50px;
}
.contacts-margin p {
    display: flex;
    flex-direction: column;
}
.place {
    z-index: 2;
    width: 231px;
    height: 190px;
    margin-top: 90px;
    margin-right: 325px;
}
.main-footer .container {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-top: 69px;
}

.friends {
    margin-top: 70px;
    width: 560px;
}
.friends p {
    margin: 0;
    margin-top: 10px;
    padding-bottom: 70px;
    font-size: 16px;
    line-height: 22px;
    color: #444444;
}
/* Всплывающее окно */
.modal {
    display: none;
    background-color: white;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 760px;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
    z-index: 5;
    padding: 72px 100px 84px 100px;
  }
  .modal-close {
    position: absolute;
    top: 78px;
    right: 90px;
    width: 21px;
    height: 21px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    outline: none;
}
.modal-close::before,
.modal-close::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 2px;
    width: 27px;
    height: 3px;
    background-color: #ffcccd;
}
.modal-close::after {
transform: rotate(-45deg);
}
.modal-close::before {
    transform: rotate(45deg);
}
.modal-close:hover::before,
.modal-close:hover::after {
background-color: #fb565a;
border: 0;
}

.modal h2 {
    margin: 0;
    margin-bottom: 45px;
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
}
.modal p {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 36px;
    
}
.login-form input[type="email"],
.login-form input[type="text"] {
    box-sizing: border-box;
    width: 100%;
    
    padding: 16px 14px;
    padding-right: 40px;
     color: #a1a1a1;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    background-color: white;
    border: 2px solid #d7dcde;
}
.login-form  {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    
    
}
.user-name {
    display: inline-block;
    margin: 0;
    margin-bottom: 12px;
    margin-right: 40px;
}
.user-mail {
    display: inline-block;
    margin: 0;
    margin-bottom: 12px;
}
.letter {
    display: inline-block;
    margin: 0;
    margin-bottom: 12px;
}
.modal .button-red {
    margin: 0;
    margin-top: 11px;
}
.modal-letter {
    flex-grow: 2;
}
.letter-icon-user {
    display: inline-block;
    padding-bottom: 50px;
}
.modal-letter {
    display: flex;
    flex-direction: column;
    
}

.letter-icon-user {
    
    box-sizing: border-box;
    width: 100%;
    max-width: 760px;
    max-height: 114px;
    min-width: 760px;
    min-height: 114px;
    padding: 16px 14px;
    padding-right: 40px;
     color: #a1a1a1;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    background-color: white;
    border: 2px solid #d7dcde;
    
    margin-top: 12px;
}
.modal .button-red {
    border: 0;
    
    width: 260px;
}
.modal-name-mail {
    display: flex;
    
    justify-content: space-between;
}
.modal-name,
.modal-mail {
    width: 100%;
}
.login-form .modal-name {
    margin-right: 40px;
}

