body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
    background-color: #ffffff;
}
a {
    text-decoration: none;
    color: black;
}
.button,
.button-green,
.button-yellow {
    text-align: center;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #fb565a;
    padding: 20px 40px;    
}
.button-green {
    background-color: #00ca74;
}  
.button-yellow {
    background-color: #efc84a;
}     
.main-header {
    background-color: #eeeeee;
}
.main-navigation {
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase;
    color: #000000;
}
.site-navigation,
.basket-navigation,
.feature-list {
    list-style: none;
}
.site-navigation a:hover,
.basket-navigation a:hover {
    color: #fb565a;
}
.site-navigation a:active,
.basket-navigation a:active {
    color: #a6a6a6;
}
.site-navigation a:focus,
.basket-navigation a:focus {
    text-decoration: underline;
    text-decoration-color: #fb565a;
}
.slogan h3 {
    font-size: 55px;
    line-height: 55px;
}
.feature-item {
    list-style: none;  
    text-align: left;
}
.feature-item h3 {
  font-size: 24px;
  line-height: 30px;  
  font-weight: 700;
  text-transform: uppercase;
}
.small-studio {
    text-align: left;
}
.small-studio h2 {
    font-size: 45px;
    line-height: 45px;  
    font-weight: 500;
}
.small-studio h3 {
    font-weight: 700;
    text-transform: uppercase;
}
.figures h2 {
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.figures-list {
    text-align: left;
    font-size: 16px;
  line-height: 18px;
}
.figures-list span {
    font-size: 45px;
  line-height: 10,06px;
  font-weight: 700;
}
.figures-item {
    list-style: none;  
}
.contacts h3 {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700; 
}
.nomber,
.contacts p {
    font-size: 16px;
    line-height: 18px;
}
.partners-item {
    list-style: none;
}
.partners-item a:hover {
    opacity: 0;
}
.partners-item a:active {
    opacity: 0.1;
}
.maps {
background-color: rgb(181, 181, 181);
position: absolute;
}
.social-item {
    list-style: none;
    border-radius: 50%;
  background-color: #e0e0e0;
  position: absolute;

}
.friends {
    text-align: left;
}
.friends h2 {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700; 
}
.friends p {
    font-size: 16px;
    line-height: 22px;
}
.social-item {
    color: #ffffff;
}